@charset "utf-8";
*{padding:0;margin:0}
@font-face{font-family:"Kelson Sans RU Bold"; src:url(fonts/kelson_sans_bold_ru.ttf)}
@font-face{font-family:"EuropeExt"; src:url(fonts/eur_norm.ttf)}
@font-face{font-family:"EuropeExt Bold"; src:url(fonts/eur_bold.ttf)}
body{color:#000;background:#fff;font:16px "Trebuchet MS",Calibri,sans-serif;min-width:1001px}
section,nav,footer,header{min-width:1001px}
header,main,footer,nav,aside,section,article,figure,figcaption{display:block}
.clear{clear:both}
.left{float:left}
.right{float:right}
.hide{display:none}
.show{display:block}
.button{cursor:pointer}

section{clear:both}
main{margin:0 auto;width:960px;position:relative}

header{}


#chickleftfirst{position:relative;height:389px;background:white}
#chickleftfirst img{margin-top:70px}
#chickleftfirst div h2{font:bold 25px "EuropeExt Bold";color:#053763;background:url(img/stick.png)no-repeat;padding-left:20px;margin:50px 0 60px 10px}
#chickleftfirst div p{font:normal 17px "EuropeExt";color:#053763;margin-left:30px}
#chickleftfirst div button{display:block;position:relative;margin-left:30px;margin-top:45px;width:270px;height:50px;color:black;font:17px "Kelson Sans RU Bold";text-transform:uppercase;background:#f4d31e;border-radius:5px;box-shadow:0 5px #d0b303;border:none;outline:none;cursor:pointer;}
#chickleftfirst div button:active{box-shadow:none;margin-top:50px;margin-bottom:0;}

#chickleftsecond{position:relative;height:389px;background:white}
#chickleftsecond img{margin-top:70px}
#chickleftsecond div h2{font:bold 25px "EuropeExt Bold";color:#053763;background:url(img/stick.png)no-repeat;padding-left:20px;margin:50px 0 60px 10px}
#chickleftsecond div p{font:normal 17px "EuropeExt";color:#053763;margin-left:30px}
#chickleftsecond div button{display:block;position:relative;margin-left:30px;margin-top:45px;width:270px;height:50px;color:black;font:17px "Kelson Sans RU Bold";text-transform:uppercase;background:#f4d31e;border-radius:5px;box-shadow:0 5px #d0b303;border:none;outline:none;cursor:pointer;}
#chickleftsecond div button:active{box-shadow:none;margin-top:50px;margin-bottom:0;}

#chickrightfirst{position:relative;height:388px;background:url(img/fon4.jpg)no-repeat top center}
#chickrightfirst img{margin-top:70px}
#chickrightfirst div h2{font:bold 25px "EuropeExt Bold";color:white;background:url(img/stick.png)no-repeat;padding-left:20px;margin:50px 0 60px 10px}
#chickrightfirst div p{font:normal 17px "EuropeExt";color:white;margin-left:30px}
#chickrightfirst div button{display:block;position:relative;margin-left:30px;margin-top:45px;width:270px;height:50px;color:black;font:17px "Kelson Sans RU Bold";text-transform:uppercase;background:#f4d31e;border-radius:5px;box-shadow:0 5px #d0b303;border:none;outline:none;cursor:pointer;}
#chickrightfirst div button:active{box-shadow:none;margin-top:50px;margin-bottom:0;}

#chickrightsecond{position:relative;height:388px;background:url(img/fon4.jpg)no-repeat top center}
#chickrightsecond img{margin-top:70px}
#chickrightsecond div h2{font:bold 25px "EuropeExt Bold";color:white;background:url(img/stick.png)no-repeat;padding-left:20px;margin:50px 0 60px 10px}
#chickrightsecond div p{font:normal 17px "EuropeExt";color:white;margin-left:30px}
#chickrightsecond div button{display:block;position:relative;margin-left:30px;margin-top:45px;width:270px;height:50px;color:black;font:17px "Kelson Sans RU Bold";text-transform:uppercase;background:#f4d31e;border-radius:5px;box-shadow:0 5px #d0b303;border:none;outline:none;cursor:pointer;}
#chickrightsecond div button:active{box-shadow:none;margin-top:50px;margin-bottom:0;}

#chickright{position:relative;height:389px;}
#chickright .right  {float:none;display:block;position:absolute;top:0;bottom:0;left:50%;right:0;}
#chickright .first{float:none;display:block;position:absolute;top:0;bottom:0;right:50%;left:0;background:url(img/f2.png) no-repeat center center}
#chickright .second{float:none;display:block;position:absolute;top:0;bottom:0;right:50%;left:0;background:url(img/f4.png) no-repeat center center}
#chickright .right  h2{font:bold 25px "EuropeExt Bold";color:white;background:url(img/stick.png)no-repeat;padding-left:20px;margin:50px 0 60px 10px}
#chickright .right  p{font:normal 17px "EuropeExt";color:white;margin-left:30px}
#chickright button{display:block;position:relative;margin-left:30px;margin-top:45px;width:270px;height:50px;color:black;font:17px "Kelson Sans RU Bold";text-transform:uppercase;background:#f4d31e;border-radius:5px;box-shadow:0 5px #d0b303;border:none;outline:none;cursor:pointer;}
#chickright button:active{box-shadow:none;margin-top:10px;margin-bottom:0;}

#r{}
.request{background-color:#f6662f;color:white;padding:60px 0;}
.request main{text-align:center;}
.request h2{font:45px 'EuropeExt Bold';text-transform:uppercase;}
.request p{font:25px 'EuropeExt';text-transform:uppercase;margin:30px 0;}
.request form{}
.request input{display:inline-block;width:282px;height:25px;padding:5px;color:#9fa4b0;font:16px "Trebuchet MS";outline:none;border:none;margin:0 15px 25px 15px}
.request button{display:block;position:relative;margin:5px auto;width:270px;height:50px;color:black;font:20px "Kelson Sans RU Bold";text-transform:uppercase;background:#f4d31e;border-radius:5px;box-shadow:0 5px #d0b303;border:none;outline:none;cursor:pointer;}
.request button:active{box-shadow:none;margin-top:10px;margin-bottom:0;}

#how{background:white);}
#how img{position:absolute;left:230px;top:245px;}
#how img.horisontal{position:absolute;left:180px;top:245px;}
#how img.horisontal2{position:absolute;left:180px;top:525px;}
#how img.vertical{position:absolute;left:846px;top:365px;}
#how h2{font:bold 40px "EuropeExt Bold";text-transform:uppercase;margin:50px 0 0 180px;color:#ffffff;background:#2d2d2d;display:inline-block;text-align:center;padding:5px 5px} 
#how ol{list-style:none;font:16px "Georgia";color:#492403;text-align:center;padding-bottom:45px;}
#how ol li{width:190px;position:relative;display:inline-block;padding-top:225px;vertical-align:center;margin-left:10px}
.how1{background:url(img/k6.jpg)no-repeat center;margin-right:170px}
.how2{background:url(img/k5.jpg)no-repeat center;margin-right:170px}
.how3{background:url(img/k4.jpg)no-repeat center}
.how4{background:url(img/k3.jpg)no-repeat center;margin-right:170px}
.how5{background:url(img/k2.jpg)no-repeat center;margin-right:170px}
.how6{background:url(img/k1.jpg)no-repeat center}

footer{}

#splash{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.8);color:white;text-shadow:0 0 1px #666;display:none;z-index:20;}
#splash section{background-color:#f6662f;color:white;position:absolute;left:0;right:0;top:25%}
#splash main{text-align:center}
#splash p{color:white;text-align:center}
#splash form{margin:0 auto 0}

#copyright{text-align:center;font-size:12px;color:gray;font-family:Calibri}
#copyright a{color:lime;text-decoration:none}